html{
   scrollbar-color: gray black;
  scrollbar-width: thin;

}

.movieItem{
  transition: 0.5s all ease-out;

}
.scrollClass{
  transition: 0.5s all ease;
  mask: linear-gradient( 90deg,transparent, white 20%, white 80%, transparent);
}

.card{
  transition: 0.5s all ease;
  border-radius:15px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;

}
.card:hover{
  scale: 1.05;
  border-radius: 0px;

  transition: 0.5s all ease-in-out;
}
.next svg{
  width: 30px;

}
.next{
 background-color: rgba(0, 0, 0, 0.424);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.previous svg{
  width: 30px;

}
.previous{
  background-color: rgba(0, 0, 0, 0.424);
  border: none;
  transform: rotate(-180deg);
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.container_l{
 position: absolute;
  width: 50px;
  left: 10px;
  z-index: 99;
  cursor: pointer;

  display: flex;

}
.container{
  position: absolute;
  width: max-content;
  right: 0;
  width: 50px;
  cursor: pointer;
  z-index: 99;
  display: flex;
  
}
/* Add this animation to your CSS Module file */

/* In your CSS module file (e.g., styles.module.css) */

.load {
  position: relative;
  overflow: hidden;
}

.load::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  animation: diagonalShine 2s ease infinite;
  transform: rotate(0deg);
}

@keyframes diagonalShine {
  0% {
    transform: translate(-100%, -100%) rotate(0deg);
  }
  100% {
    transform: translate(100%, 100%) rotate(0deg);
  }
}
