.spinner{
    width: 30px;
    height: 30px;
    border: 6px solid gray;
    border-radius: 50%;
    border-top: 6px solid white;
    animation: spin 1.5s infinite cubic-bezier(.54,.74,.51,.35);

}
.wrapper{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}